@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  border: none;
  /* - Weights: 400, 600, 700 */
}

:root {
  -red: #c73a0f;
  -green: #1ea475;
  --rose-50: #fcf9f7;
  --rose-100: #f4edeb;
  --rose-300: #c9aea6;
  --rose-400: #ad8985;
  --rose-500: #87635a;
  --rose-900: #260f08;
}

body {
  height: 100vh;
  background-color: var(--rose-50);
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: var(--rose-900);
  margin-bottom: 40px;
}

.produtos {
  flex: 1;
  min-width: 810px;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
}

.item-1 .imagens-produtos {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.item-1 button {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  bottom: 15%;
  left: 15%;
  transform: translateX(-50%);
  color: var(--rose-900);
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #260f087e;

  cursor: pointer;

  margin-top: 17px;
}

.item-1 .button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.seu-carrinho {
  flex-shrink: 0;
  background-color: #fff;
  width: 386px;
  height: 323px;
}
