@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Weights: 500 e 700 */

:root {
--Lime: #d7da2f;
--Red: #d73328;


--White: #ffffff;
--Slate-100: #e3f3fd;
--Slate-300: #9abed5;
--Slate-500: #6b94a8;
--Slate-700: #4e6e7e;
--Slate-900: #122f3f;
}

body {
    background-color: var(--Slate-100);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* container */

.container {
    background-color: var(--White);
    padding: 20px;
    border-radius: 25px;
    min-width: 1007px;
    min-height: 609px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* cabeçalho */

header {
    display: flex;
    align-items: center;    
    justify-content: space-between;    
}

header button {
    cursor: pointer;
}

/* formulário/inputs */

.form {
    position: relative;
}

.form-simbolo {
    position: absolute;
}

/* lado esquerdo */

.left header h1 {
    color: var(--Slate-900);
}

.left header button {
    border: none;
    background-color: var(--White);
    text-decoration: underline;
    color: var(--Slate-700);
}



/* lado direito */

.right {
 
}