@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - Weights: 400, 500, 700 */

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  background-color: var(--white);
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}
