@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  border: none;
  outline: none;

  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

:root {
  --desaturated-red: #ce9797;
  --soft-red: #f96262;
  --dark-grayish-red: #413a3a;
  --gradient-1: linear-gradient(135deg, #ffffff, #fff5f5);
  --gradient-2: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

/* - Weights: 300, 400, 600 */

body {
  display: flex;
  height: 100vh;
  background: var(--gradient-1);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 60px 163px;
  width: 60%;
  background: url(../images/bg-pattern-desktop.svg) no-repeat center center;
  background-size: cover;
}

.image-container {
  width: 40%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
}

header {
  margin-bottom: 134px;
}

.main span {
  color: var(--desaturated-red);
  font-weight: 300;
  font-size: 70px;
  letter-spacing: 16px;
  width: 268px;
  height: 53px;
}

.main h1 {
  letter-spacing: 16px;
  font-size: 70px;

  font-weight: 600;

  width: 370px;
  height: 130px;

  color: var(--dark-grayish-red);
  margin-bottom: 120px;
}

.main p {
  width: 430px;
  height: 76px;

  color: var(--desaturated-red);
  font-weight: 400;

  line-height: 1.6rem;

  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

form input {
  width: 448px;
  height: 60px;
  border: 1px solid rgb(65, 58, 58, 0.2);
  padding: 20px;
  border-radius: 27.5px;
  background: url(../images/bg-pattern-desktop.svg);
}

input::placeholder {
  color: var(--desaturated-red);
}

input:focus {
  border: 2px solid var(--soft-red);
}

form button {
  background: var(--gradient-2);
  width: 100px;
  height: 60px;
  right: 0;
  position: absolute;

  border-radius: 27.5px;
  cursor: pointer;
}
