@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: none;

  font-family: "Josefin Sans", sans-serif;
}

:root {
  --desaturated-red: #ce9797;
  --soft-red: #f96262;
  --dark-grayish-red: #413a3a;
  --gradient-1: linear-gradient(135deg, #ffffff, #fff5f5);
  --gradient-2: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

/* - Weights: 300, 400, 600 */

img {
  max-width: 100%;
}

body {
  height: 100vh;

  font-size: 1.6rem;

  background: var(--gradient-1);
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;

  height: 100%;
}

.section-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  grid-column: 1;
  grid-row: 1;

  height: 20%;
  padding-inline: 5rem;
  z-index: 1;
}

.section-logo .logo {
  width: 100%;
  max-width: 45rem;
}

.main-content {
  display: flex;
  justify-content: center;

  grid-column: 1;
  grid-row: 1;

  padding-inline: 5rem;

  background: url(../images/bg-pattern-desktop.svg) center center no-repeat;
  background-size: cover;
}

.main-content .content {
  align-self: flex-end;

  width: 100%;
  max-width: 45rem;
  height: 80%;
}

.main-content .main-sectionText {
  width: 100%;
}

.main-content .main-sectionText h1 {
  text-transform: uppercase;

  margin-top: 12rem;

  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 1.5rem;

  color: var(--dark-grayish-red);
}

.main-content .main-sectionText span {
  font-weight: 300;

  color: var(--desaturated-red);
}

.main-content .main-sectionText p {
  margin-top: 3rem;

  font-weight: 400;
  line-height: 2.5rem;

  color: var(--desaturated-red);
}

.main-sectionEmail {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  gap: 1rem;
}

.main-sectionEmail .email-container {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  height: 5.5rem;

  border-radius: 3rem;
  border: 0.1rem solid var(--desaturated-red);
}

.main-sectionEmail .email-container .inputEmail {
  width: 100%;
  height: 100%;
  padding-left: 3.5rem;
  border-radius: 3rem;
  border: none;

  font-size: 1.6rem;
  font-weight: 400;

  background: transparent;
}

.main-sectionEmail .email-container .inputEmail::placeholder {
  font-size: 1.5rem;

  color: var(--desaturated-red);
}

.main-sectionEmail .email-container .Submit {
  cursor: pointer;
  border: none;

  width: 14rem;
  height: 100%;
  border-radius: 3rem;
  box-shadow: 2rem 2rem 2rem hsl(0, 74%, 74%, 0.4);

  background: var(--gradient-2);
}

.main-sectionEmail .email-container .Submit:hover,
.main-sectionEmail .email-container .Submit:focus {
  background: hsl(0, 80%, 86%);
}

.main-sectionEmail .email-container .icon-erro {
  display: none;
  cursor: text;

  margin-right: 2rem;
}

.main-sectionEmail .msg-erro {
  display: none;

  padding-left: 3rem;

  font-size: 1.5rem;
  font-weight: 400;

  color: var(--soft-red);
}

.container .hero-image {
  grid-column: 2;
  grid-row: 1;

  height: 100%;

  background: url(../images/hero-desktop.jpg) center no-repeat;
  background-size: cover;
}

/* Dispositivos acima de 2000px (Devices over 2000px) */
@media screen and (min-width: 2000px) {
  .section-logo {
    height: 30%;
  }

  .section-logo .logo {
    max-width: 55%;
  }

  .main-content .content {
    max-width: 55%;
    height: 70%;
  }

  .main-content .main-sectionText {
    width: 80%;
  }
}

/* Responsivo para Tablet */
@media screen and (max-width: 765px) {
  .main-content {
    padding-inline: 1.5rem;
  }

  .main-content .main-sectionText {
    text-align: center;
  }

  .main-content .main-sectionText h1 {
    width: 93%;
    margin-top: 6rem;

    font-size: 3rem;
  }

  .main-sectionEmail .email-container .Submit {
    width: 10rem;
  }

  .main-sectionEmail .email-container .icon-erro {
    margin-right: 0.5rem;
  }

  .main-sectionEmail .msg-erro {
    padding-left: 2rem;
  }
}

/* Responsivo para Celular */

@media screen and (max-width: 425px) {
  body {
    height: 100%;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 334px 572px;

    min-width: 320px;
  }

  .section-logo {
    align-items: center;

    grid-column: 1;
    grid-row: 1;

    height: 8.4rem;
  }

  .section-logo .logo {
    max-width: 12rem;
  }

  .main-content {
    grid-column: 1;
    grid-row: 2;

    height: 100%;
    padding-inline: 2rem;
  }

  .main-content .content {
    align-self: flex-start;
  }

  .main-content .main-sectionText {
    text-align: center;
  }

  .main-content .main-sectionText h1 {
    margin-top: 7rem;
    font-size: 4rem;
  }

  .main-content .main-sectionText p {
    margin-top: 2.5rem;

    font-size: 1.3rem;
  }

  .main-sectionEmail .email-container .Submit {
    width: 10rem;
  }

  .main-sectionEmail .email-container .icon-erro {
    margin-right: 1rem;
  }

  .main-sectionEmail .msg-erro {
    padding-left: 2.5rem;
  }

  .container .hero-image {
    align-self: flex-end;

    grid-column: 1;
    grid-row: 1;

    width: 100%;
    max-width: 42.5rem;
    height: 25rem;
    margin: 0 auto;

    background: url(../images/hero-mobile.jpg) left center no-repeat;
    background-size: cover;
  }
}
