/* Headings, Call-to-actions, Header Navigation */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */
/* Weights: 400, 700 */


/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */
/* Weights: 400 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
--Very-Dark-Blue: #070439;
--Desaturated-Blue: #585989;
--Bright-Blue: #3065f8;
--Moderate-Cyan: #3c9f8f;
--Light-Grayish-Blue: #f6f6fe;
--Light-Gray: #bfbfbf;
}

header {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 60px;
}

header img {
    height: 40px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--Desaturated-Blue);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 140px;

    cursor: default;
}

main {
    font-family: "Open Sans", sans-serif;
    padding: 0px 60px;
}

.left h1 {
    color: var(--Very-Dark-Blue);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 30px;
}

.subtitle {
    color: var(--Very-Dark-Blue);
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
} 

.acesso input {
    width: 325px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid var(--Desaturated-Blue);
    color: var(--Desaturated-Blue);
    padding-inline: 20px;
    margin-right: 12px;
}

.acesso input::placeholder {
    font-family: "Open Sans";
    font-size: 0.9rem;
    color: var(--Light-Gray);
}

/* todos os botões estilizados como uma classe geral! */
button {
    background-color: var(--Bright-Blue);
    width: 190px;
    height: 45px;
    border-radius: 2px;
    color: var(--Light-Grayish-Blue);
    font-weight: 700;

    cursor: pointer;
}

button:hover {
    background-color: rgb(48, 101, 248, 0.8);
}

.border-error {
    border: 1px solid red;
}

.acesso .error-msg {
    display: none;
    margin-top: 5px;
    font-size: 0.8rem;
    color: red;
}

.right img {
    margin-left: 270px;
    width: 70%;
}

/* espaçamento embaixo (primeiro section)*/
.container {
    margin-bottom: 11rem;
}

/* section do meio (onde tem o card) */

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    display: flex;
    flex-direction: column;
}