@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* weights = 400 ou 700 */

:root {

--Green-200-lighter: #dff1e7;
--Green-600-medium-: #0c7d69;
--Red: #d73c3c;

--White: #ffffff;
--Grey-500-medium: #87a3a6;
--Grey-900-darker: #2b4246;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--Green-200-lighter);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: auto;
    padding: 20px 35px;
    background-color: var(--White);
    border-radius: 11px;
}

.container h2 {
    color: var(--Grey-900-darker);
    font-size: 1.6rem;

    margin-bottom: 30px;
}

form .flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* estilização global dos titulos */
form .titulo {
    color: var(--Grey-900-darker);
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 15px;
    margin-bottom: 8px;
}

/* estilização global do span (*) */
form span {
    color: var(--Green-600-medium-);
    font-weight: 600;
    margin-left: 3px;
}

form .flex input {
    width: 320px;
    height: 50px;
    border-radius: 9px;
    border: 1px solid var(--Grey-500-medium);
}

form .flex .errorMsg {
    margin-top: 10px;
    color: var(--Red);
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

form .email input {
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: 1px solid var(--Grey-500-medium);
    margin-bottom: 10px;
}

form .emailError {
    margin-top: 10px;
    color: var(--Red);
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.form-item .titulo {
    margin-bottom: 16px;
}

.radio-inputs {
    display: flex;
    gap: 16px;
}

.radio-option {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--Grey-500-medium);
    border-radius: 9px;
    font-size: 1rem;
    font-weight: 400;

    width: 320px;
    height: 50px;
}

.radio-option input {
    font-family: "Karla", sans-serif;
    color: var(--Grey-900-darker);
    margin-left: 20px;
}

.form-item .errorMsg {
    margin-top: 16px;
    color: var(--Red);
    font-size: 0.8rem;
    font-weight: 500;
}

.msg .titulo {
    margin-top: 20px;
}

.msg textarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid var(--Grey-500-medium);
    resize: none;
}

.msg .errorMsg {
    margin-top: 5px;
    color: var(--Red);
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 50px;
}

.confirmar {
    margin-top: 20px;
    color: var(--Grey-900-darker);
}

.confirmar .errorMsg {
    margin-top: 8px;
    color: red;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.confirmar input {
    margin-bottom: 30px;
}

button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 9px;
    color: var(--White);
    background-color: var(--Green-600-medium-);
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;

    transition: 0.3s ease;
}

button:hover {
    background-color: var(--Grey-900-darker);
}

/* hover de todos os inputs */

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
    border-color: var(--Green-600-medium-);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* estilizando dentro dos inputs/textarea */

input[type="text"], input[type="email"] {
    padding-left: 20px;
    font-size: 1rem;
}

textarea {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 1rem;
}


/* mensagem de erro */

.errorMsg {
    display: none;
}
