@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
}

/* FS 32px */

:root {
--Purple: #854dff;
--Light-red: #ff5757;
--White: #ffffff;
--Off-white: #f0f0f0;
--Light-grey: #dbdbdb;
--Smokey-grey: #716f6f;
--Off-black: #141414;
}

body {
    background-color: var(--Light-grey);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 845px;
    height: 650px;
    background-color: var(--White);
    border-radius: 27px 27px 212px 27px ;
    padding: 55px 50px;
}

.cardTop {
    display: flex;
    align-items: center;
    gap: 30px;
}

.item input {
    width: 160px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid var(--Light-grey);
    padding-inline: 20px;
    align-items: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
}

/* Remove setinhas no Chrome, Safari, Edge e Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item input::placeholder {
    color: var(--Smokey-grey);
    font-weight: 700;
    font-size: 2rem;
}

.item input:focus {
    cursor: pointer;
    border: 1px solid var(--Purple);
}

.item .subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--Smokey-grey);
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 6px;
}

hr {
    border: 0.1px solid var(--Light-grey);
    width: 700px;
}

.cardMid {
    bottom: 20px;
    position: relative;
}

.cardMid img {
    position: absolute;
    background-color: var(--Purple);
    padding: 25px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 0%;
    left: 100%;
    transform: translate(-90%, -30%);
    cursor: pointer;
}

.cardMid img:hover {
    background-color: var(--Off-black);
}

.cardBottom {
    font-size: 2.7rem;
}

.cardBottom span {
    color: var(--Purple);
    margin-right: 20px;
}

.title {
    font-style: italic;
    font-weight: 800;
}