@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Weights 400 700 */

:root {
--Tomato: #ff6257;
--Dark-Slate-Grey: #242742;
--Charcoal-Grey: #36384e;
--Grey: #9294a0;
--White: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Charcoal-Grey);
}

/* Corpo */

.container {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;

    background-color: var(--White);
}

/* lado esquerdo */

.left {
    display: flex;
    flex-direction: column;
    padding: 100px 65px;
}

.left h1 {
    color: var(--Dark-Slate-Grey);
    font-size: 3rem;
    margin-bottom: 30px;
}

.left .lista {
    display: flex;
    flex-direction: column;
}

.left p {
    color: var(--Dark-Slate-Grey);
}


.left ul {
    list-style-type: none;
}