@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Weights 400 700 */

:root {
--Tomato: #ff6257;
--Dark-Slate-Grey: #242742;
--Charcoal-Grey: #36384e;
--Grey: #9294a0;
--White: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Charcoal-Grey);
}

/* Corpo */

.container {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;

    background-color: var(--White);
}

/* lado esquerdo */

.left {
    display: flex;
    flex-direction: column;
    padding: 100px 65px;
}

.left h1 {
    color: var(--Dark-Slate-Grey);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 30px;
}

.left p {
    color: var(--Dark-Slate-Grey);
    font-weight: 400;
    margin-bottom: 30px;
}

/* (início) removendo a margin da lista, para não haver interferência. */
.left ul p {
    margin: 0;
}
/* (fim) */

.left .lista li {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.left ul {
    list-style-type: none;
}

.email {
    margin-top: 45px;
}

.email .flex {
    display: flex;
    justify-content: space-between;
}

.email .flex p {
    font-weight: 700;
    font-size: 0.7rem;
}

.email input {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    border: 1px solid var(--Grey);
    padding-inline: 25px;
}

.email input::placeholder {
    color: var(--Dark-Slate-Grey);
}

.email input:hover {
    border: 1px solid var(--Dark-Slate-Grey);
}

.email input:focus {
    border: 1px solid var(--Dark-Slate-Grey);
    cursor: pointer;
}

/* usando position pra corrigir o espaçamento (único método que consegui pensar, não estava conseguindo ajeitar de jeito nenhum) */
.email input {
    position: relative;
    bottom: 18px;
}

.btn button {
    margin-top: 5px;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    border: none;

    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-family: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
background: linear-gradient(to right, #FF5478, #FF6742);
}

.right {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
}

.right img {
    width: 400px;
    height: 593px;
}

/* após clicar no confirmar, tela que aparecerá: */
/* procurar saber como fazer amanhã. */


/* CLASSES PARA SEREM MOSTRADAS NO JS */

.email .flex .email-error {
    color: var(--Tomato);
    font-size: 0.7rem;

    /* mostrar com js */
    display: none;
}

.error {
    border: 1px solid var(--Tomato);
    background-color: rgba(255, 98, 87, 0.4);
    color: var(--Tomato);
}

.error input::placeholder {
    color: var(--Tomato);
}

/* Responsividades! */

@media (max-width: 480px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .left {
        padding: 50px 20px;
    }

    .left h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .left p {
        font-size: 1rem;
    }

    .email input {
        height: 45px;
    }

    .btn button {
        height: 45px;
    }

    .right {
        background-image: url(../assets/images/illustration-sign-up-mobile.svg);
        background-size: cover;
        border-radius: 0 0 40px 40px;
        width: 100%;
        height: 284px;
    }

    .right img {
        display: none;
    }
}
