@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* weights 700 poppins */
/* 400 600 700 p outra */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* fontes */
--fonte-poppins: "Poppins", sans-serif;
--fonte-open-sans: "Open Sans", sans-serif;

    /* cores */
--Pink: #ff52bf;
--Light-Pink: #ff8fd8;
--Light-Red: #ff4242;

--Very-Dark-Cyan: #00252e;
--Very-Pale-Blue: #f5faff;
}

/* cabeçalho */

header {
    width: 100%;
    height: 80px; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

header button {
    width: 100px;
    height: 30px;
    border-radius: 14px;
    border: none;
    background-color: white;
    border: 1px solid var(--Light-Pink);
    color: var(--Light-Pink);
    box-shadow: 1px 1px 1px 1px #ff8fd828;

    font-family: var(--fonte-poppins);
    cursor: pointer;
}

header button:hover {
    color: var(--Pink);
    border: 1px solid var(--Pink);
    box-shadow: 1px 1px 1px 1px #ff52c028;
}

/* conteúdo principal */

main {
    padding: 0px 150px;
}

main section {
    text-align: center;
}

main section h1 {
    font-family: "Open Sans", sans-serif;
    color: var(--Very-Dark-Cyan);
    font-size: 3rem;
    font-weight: 800;
}

main section p {
    margin-top: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--Very-Dark-Cyan);
}

main section .btn-principal {
    margin-top: 36px;
    width: 296px;
    height: 60px;
    border: none;
    color: white;
    background-color: var(--Pink);
    border-radius: 30px;

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.123);

    font-family: var(--fonte-poppins);
    cursor: pointer;
}

main section .btn-principal:hover {
    background-color: var(--Light-Pink);
    font-weight: 600;
}

/* imagem principal */

main .imagem /* imagem = article */ {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Status - Comunidade & Mensagens */

main .flex-stats {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 275px;
}

main .flex-stats img {
    width: 35px;
}

main .flex-stats h1 {
    font-family: var(--fonte-open-sans);
    font-size: 4rem;
    color: var(--Very-Dark-Cyan);
}

main .flex-stats p {
    font-family: var(--fonte-poppins);
    color: rgba(128, 128, 128, 0.801);
    font-weight: 400;
    margin-bottom: 382px;
}

main .flex-stats .right p {
    font-family: var(--fonte-poppins);
    color: rgba(128, 128, 128, 0.801);
    font-weight: 400;
    font-size: 1rem;
}

/* estilizando globalmente todos os articles */

main article {
    margin-bottom: 410px;
}

/* Primeiro article */

main .col {
    display: grid;
    grid-template-columns: 1fr 1fr;

    display: flex;
    justify-content: center;
    gap: 100px;
}

main .left-img img {
    width: 400px;
}

main article .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main article .left h2 {
    font-family: var(--fonte-poppins);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Very-Dark-Cyan);
}

main article .left p {
    margin-top: 7px;
    font-family: var(--fonte-poppins);
    color: var(--Very-Dark-Cyan);
    font-size: 0.9rem;
    font-weight: 500;
}


/* Segundo article */

main .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .right h2 {
    font-family: var(--fonte-poppins);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Very-Dark-Cyan);
}

main .right p {
    margin-top: 7px;
    font-family: var(--fonte-poppins);
    color: var(--Very-Dark-Cyan);
    font-size: 0.9rem;
    font-weight: 500;
}

/* terceiro article = igual ao primeiro */


main .right-img img {
    width: 400px;
}

main .section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .section h1 {
    font-family: var(--fonte-poppins);
    color: var(--Very-Dark-Cyan);
    font-size: 3rem;
    margin-bottom: 20px;
}

main .section .btn-principal {
    width: 296px;
    height: 60px;
    border: none;
    color: white;
    background-color: var(--Pink);
    border-radius: 30px;

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.123);

    font-family: var(--fonte-poppins);
    cursor: pointer;

    margin-bottom: 340px;
}

main .section .btn-principal:hover {
    background-color: var(--Light-Pink);
    font-weight: 600;
}

/* footer */

footer {
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: var(--Very-Pale-Blue);

    padding: 72px 100px;

    font-family: var(--fonte-poppins);
}

footer .left .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;

    margin-bottom: 25px;
}

footer .left .logo img {
    display: flex;
    align-items: center;
    width: 35px;
}

footer .left p {
    margin-bottom: 20px;
}

footer .contato {
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;
}

footer .telefone img {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .telefone {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .telefone p {
    align-items: center;
}

footer .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .email p {
    align-items: center;
}


footer .icones svg {
    width: 40px;
    height: 40px;
}

footer .icones svg:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.03);
}

/* 
footer .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
